@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700;800&display=swap');

html{
    scroll-behavior: smooth;
}

html, body{
    height: 100%;
}

*{
    font-family: Heebo;
    color: black;
}

a{
    text-decoration: none;
}

/*
.parallax{
    background-image: url("assets/Bocan_Studio_Header_LinkedIn_Top.png");
    min-height: 400px;
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
}
*/

body{
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.card-home{
    min-height: 100%;
}

ul.nav-links{
    margin: 0;
    float: right;
    display: flex;
    list-style: none;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1030;
}

li.nav-button{
    display: inline-block;
    margin-left: 10px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 6px;
    background-color: rgba(255,255,255,0);
    padding: 3px 10px;
    text-align: center;
}

li.nav-button:hover a{
    background-color: lightgray;
    transition-duration: 0.6s;
}

li.nav-button:hover{
    background-color: lightgray;
    transition-duration: 0.6s;
}

.logo-top img{
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 100vh;
    padding-bottom: 80px;
}

.text-summary{
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 60px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgba(211,211,211,100);
    background-color: rgba(211,211,211,10);
}

.card-about-me{
    min-height: 100%;
    margin: auto;
    width: 100%;
    text-align: center;
}

.logo-about-me img{
    display: block;
    margin: auto;
    position: absolute;
    max-width: 100%;
    max-height: 100vh;
}

.text-about-me{
    margin: auto;
    position: relative;
    top: 100px;
    width: 50%;
    text-align: center;
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 300px;
    border-style: solid;
    border-radius: 10px;
    border-color: lightgray;
    background-color: lightgray;
}

.card-hire-me{
    min-height: 100%;
    margin: auto;
    width: 100%;
    text-align: center;
}

.logo-hire-me img{
    display: block;
    margin: auto;
    position: absolute;
    max-width: 100%;
    max-height: 100vh;
}

.text-hire-me{
    margin: auto;
    position: relative;
    top: 100px;
    width: 50%;
    text-align: center;
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 300px;
    border-style: solid;
    border-radius: 10px;
    border-color: lightgray;
    background-color: lightgray;
}

.card-contact-me{
    height: 100%;
    margin: auto;
    width: 100%;
    text-align: center;
}

.text-contact-me{
    margin: auto;
    position: relative;
    top: 100px;
    width: 50%;
    text-align: center;
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 200px;
    border-style: solid;
    border-radius: 10px;
    border-color: lightgray;
    background-color: lightgray;
}

.logo-bottom img{
    display: block;
    margin: auto;
    position: relative;
    padding-top: 200px;
    bottom: 0px;
    max-width: 100%;
    max-height: 100vh;
}

#footer{
    margin: auto;
    position: relative;
    width: 100%;
    text-align: center;
}

.footer-bar{
    margin: auto;
    width: 100%;
    text-align: center;
    position: relative;
    font-size: 12px;
}

ul.footer-links{
    float: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;

}

li.footer-button{
    display: inline-block;
/*    margin-left: 10px; */
    font-size: 13px;
    font-weight: 500;
    border-radius: 6px;
    background-color: rgba(255,255,255,0);
    padding: 3px 10px;
    text-align: center;
}

li.footer-button:hover a{
    text-decoration: underline;
}

li.footer-button:hover{
    text-decoration: underline;
}